---
export interface Props {
    icon: { src: string; alt: string; }
}

const { icon } = Astro.props as Props;

---

<li class="p-4 rounded-lg bg-slate-200 text-center">
    <img src={icon.src} alt={icon.alt} class="w-1/2 mx-auto mb-2 rounded-md bg-slate-50 p-2">
    <p class="text-sm">
        <slot></slot>
    </p>
</li>