---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import UserGroup from '../components/UserGroup.astro';
import DesignProcess from '../components/DesignProcess.astro';
import Guidelindes from '../components/Guidelindes.astro';
import Examples from '../components/Examples.astro';
---

<Layout title="Dyslexie">
    <Header />
    <div class="py-12 px-2 md:px-4 mx-auto flex max-w-full w-max items-stretch">
        <aside class="pr-12 hidden lg:block right-full w-[210px]">
            <nav class="sticky top-8 font-title">
                <ul class="flex flex-col gap-4">
                    <li><a href="#user-group" class="aside-link">Zielgruppe</a></li>
                    <li><a href="#design-process" class="aside-link">Designprozess</a></li>
                    <li><a href="#guidelines" class="aside-link">Guidelines</a></li>
                    <li><a href="#examples" class="aside-link">Beispielprojekte</a></li>
                </ul>
            </nav>
        </aside>
        <main class="flex flex-col gap-8 max-w-[60ch] h-[3000px]">
            <UserGroup />
            <DesignProcess />
            <Guidelindes />
            <Examples />
        </main>
    </div>
    <script>
        const [userSection, designSection, guidelineSection, examplesSection] = document.querySelectorAll('main section');
        const navEl = document.querySelector('aside nav');
        navEl.setAttribute('data-active', 'user-group');

        const observer = new IntersectionObserver((sections) => {
            for (const sectionElement of sections) {
                if (sectionElement.isIntersecting) {
                    const sectionId = sectionElement.target.id.replace("-section", "");
                    navEl.setAttribute('data-active', sectionId);
                }
            }
        }, { rootMargin: "-20% 0px -75% 0px" });

        observer.observe(userSection);
        observer.observe(designSection);
        observer.observe(guidelineSection);
        observer.observe(examplesSection);
    </script>
</Layout>

<style>
    nav a {
        @apply inline-block pb-0.5;
    }

    nav[data-active="user-group"] a[href="#user-group"] {
        @apply font-semibold bg-[length:100%_3px] -translate-x-4;
    }

    nav[data-active="design-process"] a[href="#design-process"] {
        @apply font-semibold bg-[length:100%_3px] -translate-x-4;
    }

    nav[data-active="guidelines"] a[href="#guidelines"] {
        @apply font-semibold bg-[length:100%_3px] -translate-x-4;
    }

    nav[data-active="examples"] a[href="#examples"] {
        @apply font-semibold bg-[length:100%_3px] -translate-x-4;
    }
</style>