---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import UserGroup from '../components/UserGroup.astro';
import DesignProcess from '../components/DesignProcess.astro';
import Guidelindes from '../components/Guidelindes.astro';
import Examples from '../components/Examples.astro';
---

<Layout title="Dyslexie">
    <Header />
    <div class="grid grid-cols-[200px_1fr] gap-8 py-4">
        <aside class="p-4 hidden md:block">
            <ul class="flex flex-col gap-4">
                <li>Zielgruppe</li>
                <li>Designprozess</li>
                <li>Guidelines</li>
                <li>Beispielprojekte</li>
            </ul>
        </aside>
        <main class="flex flex-col gap-12">
            <UserGroup />
            <DesignProcess />
            <Guidelindes />
            <Examples />
        </main>
    </div>
</Layout>