---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import UserGroup from '../components/UserGroup.astro';
import DesignProcess from '../components/DesignProcess.astro';
import Guidelindes from '../components/Guidelindes.astro';
import Examples from '../components/Examples.astro';
---

<Layout title="Dyslexie">
    <Header />
    <div class="py-12 px-2 md:px-4 mx-auto flex max-w-full w-max items-stretch">
        <aside class="pr-12 hidden lg:block right-full">
            <ul class="sticky flex flex-col gap-4 top-8">
                <li><a href="#user-group">Zielgruppe</a></li>
                <li><a href="#design-process">Designprozess</a></li>
                <li><a href="#guidelines">Guidelines</a></li>
                <li><a href="#examples">Beispielprojekte</a></li>
            </ul>
        </aside>
        <main class="flex flex-col gap-8 max-w-[60ch] h-[3000px]">
            <UserGroup />
            <DesignProcess />
            <Guidelindes />
            <Examples />
        </main>
    </div>
</Layout>