---
export interface Props {
    title: string,
    body: string,
    href: string,
}
const { href, title, body } = Astro.props as Props;
---

<li class="link-card">
    <a href={href}>
        <h2 class="m-0">
            {title}
            <span class="inline-block">&rarr;</span>
        </h2>
        <p class="mt-3 mb-0">
            {body}
        </p>
    </a>
</li>
<style>
    :root {
        --link-gradient: linear-gradient(45deg, #4F39FA, #DA62C4 30%, theme(colors.gray.200) 60%);
    }

    .link-card {
        @apply list-none flex p-[3px] rounded-lg;

        background-image: var(--link-gradient);
        background-size: 400%;
        background-position: 100%;
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }

    .link-card>a {
        @apply w-full no-underline leading-snug py-4 px-5 rounded-md bg-white opacity-80 text-gray-900;
    }

    h2 {
        transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }

    h2 span {
        transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
    }

    .link-card:is(:hover, :focus-within) {
        background-position: 0;
    }

    .link-card:is(:hover, :focus-within) h2 {
        color: #4F39FA;
    }

    .link-card:is(:hover, :focus-within) h2 span {
        transform: translateX(2px);
    }
</style>