
<section id="design-process-section">
    <h2 id="design-process">Designprozess</h2>
    <h3>Herausforderungen</h3>
    <p class="mb-2">Die Arbeit mit Menschen mit Dyslexie stellt Designer:innen vor neue Herausforderungen, welche vom
        typischen
        menschzentrierten Gestaltungsprozess abweichen. Nutzende...</p>
    <ul class="mb-6 space-y-1">
        <li>... sind möglicherweise <strong>nicht die Käufer</strong> des Endprodukts.</li>
        <li>... haben <strong>spezielle</strong> und <strong>wenig bekannte</strong> Anforderungen.</li>
        <li>... weisen eine viel <strong>größere Vielfalt</strong> an Nutzungseigeschaften auf.</li>
        <li>... sind schwer in einer <strong>repräsentativen Gruppe</strong> abzubilden.</li>
    </ul>
    <h3>Hinweise</h3>
</section>