---
import Card from "./DesignProcess/Card.astro";
import managerSvg from '../assets/icons/manager.svg';
import unknownSvg from '../assets/icons/unknown.svg';
import varietySvg from '../assets/icons/variety.svg';
import groupSvg from '../assets/icons/group.svg';
import conflictSvg from '../assets/icons/conflict.svg';
import nonaffectedSvg from '../assets/icons/nonaffected.svg';
---

<section id="design-process-section" class="max-w-[60ch]">
    <h2 id="design-process">Designprozess</h2>
    <p class="mb-4">Die Arbeit mit Menschen mit Dyslexie stellt Designer:innen vor neue Herausforderungen, welche im
        menschzentrierten Gestaltungsprozess besonders beachtet werden müssen.</p>
    <h3 class="mb-4">Herausforderungen</h3>
    <ul class="mb-6 grid grid-cols-1 xs:grid-cols-2 gap-4">
        <!-- TODO: Alt-tags -->
        <Card icon={{src: managerSvg,
            alt: "Illustrierter Mann in Geschäftanzug, dahinter Umriss einer Person mit Dyslexie" }}>
            Nutzende sind möglicherweise <strong>nicht die Käufer</strong> des Endprodukts
        </Card>
        <Card icon={{src: unknownSvg, alt: "Kopf, über welchem ein Fragezeichen schwebt" }}>
            Nutzende haben <strong>spezielle</strong> und <strong>wenig bekannte</strong> Anforderungen
        </Card>
        <Card icon={{src: varietySvg, alt: "Drei Köpfe, über denen unterschiedliche Formen schweben" }}>
            Nutzende weisen eine viel <strong>größere Vielfalt</strong> an Nutzungs&shy;eigen&shy;schaften auf
        </Card>
        <Card icon={{src: groupSvg, alt: "Drei Spalten und drei Reihen an verschiedenen Formen" }}>
            Nutzende sind schwer in einer <strong>repräsentativen Gruppe</strong> abzubilden
        </Card>
        <Card icon={{src: nonaffectedSvg,
            alt: "Kopf mit bunten Formen und Kopf alleine. Dazwischen befindet sich ein Blitz" }}>
            Konflikte zwischen <strong>Zugänglichkeit und Gebrauchstauglichkeit</strong> für weniger betroffene Menschen
        </Card>
        <Card icon={{src: conflictSvg,
            alt: "Drei verschiedene Formen angeordnet im Dreieck. Dazwischen befinden sich als Dreieckskanten Blitze"
            }}>
            Konflikte zwischen der Zugänglichkeit für Menschen mit <strong>verschiedenen Ausprägungen von
                Dyslexie</strong>
        </Card>
    </ul>
</section>