---
import fontsUsedInPaper from '../assets/example_pictures/fontsUserInPaper.png';
import lrsBrosch from '../assets/example_pictures/lrsBrosch.png';
---

<section id="examples-section" class="max-w-[60ch]">
    <h2 id="examples">Beispielprojekte</h2>
    <p class="mb-2">Weiterführende Informationen und Projekte zu Legasthenie.</p>
    <ul role="list" class="list-grid flex flex-col">
        <li class="bg-slate-200 flex flex-col list-card mb-5 rounded-lg">
            <h3>Dyslexie Alphabet </h3>
            <div class="flex flex-row">
                <div class="flex flex-col">
                    <p class=" text-justify pt-2 text-sm detailed">Der Designer Daniel Britton hat spezifisch auf
                        Typografie
                        das
                        Alphabet und die Schrift so angepasst und
                        entworfen, dass Menschen ohne Lese- und Rechtschreibeinschränkung ein Gefühl dafür bekommen, wie
                        Menschen
                        mit Dyslexie lesen und die Schrift wahrnehmen. Die Basis für das Konzept bietet die Tatsache,
                        dass
                        40%
                        der Schrift unleserlich gemacht wird.
                    </p>
                    <a class="m-4 place-self-start rounded-md text-light more-button"
                        href="https://danielbritton.info/dyslexia/">Mehr
                        <span> &rarr; </span></a>
                </div>
                <img class="mb-3 mr-3 object-scale-down w-2/5 rounded-md"
                    src="https://danielbritton.info/wp-content/uploads/2019/07/DX_02.jpg"
                    alt="Ein Alphabet spezifisch für Menschen mit Dyslexie entwickelt">
            </div>
        </li>
        <li class="bg-slate-200 flex flex-col list-card mb-5 rounded-lg">
            <h3>Studie zu Schriften</h3>
            <div class="flex flex-row">
                <div class="flex flex-col">
                    <p class="text-justify pt-2 text-sm detailed">
                        In einem Experiment mit 48 legasthenen Probanden, wurde die Leseleistung mithilfe
                        einer Eye-Tracking Messung für verschiedene Schriftarten durchgeführt. Dadurch wurden objektiv
                        die Schriftarten evaluiert, die eine sehr gute Leseleistung bei den Probanden hervorgerufen
                        haben.
                    </p>
                    <img class="p-2 w-6/12 place-self-center rounded-md" src={fontsUsedInPaper}
                        alt="Schriftarten, die in der Studie verwendet wurden">
                    <h4>Ergebnisse kurz Zusammengefasst</h4>
                    <p class="text-justify pt-2 text-sm detailed">
                        Schriftarten <b>haben Einfluss </b> auf die Lesbarkeit der Texte für Menschen mit Dyslexie.
                        Serifenlose und romanische Schriftarten haben kürzere Fixationszeiten zur Folge. Es wurde aber
                        keine signifikant kürzere Lesedauer beobachtet. Kursive Schriften haben immer
                        <span style="color: #F66868">schlechtere</span> Lesezeiten. Die Schriftarten
                        <span style="color: #68DBA7">Courier</span> und <span style="color: #68DBA7">Helvetica</span>
                        hingegen haben besonders kurze Fixierungszeiten.
                        Es wurde beobachtet, dass die speziell für Menschen mit Dyslexie entwickelte Schriftart
                        <em>OpenDys</em> <b>keine</b> besondere Verbesserung und Bevorzugung hervorbrachte.
                        Dominierend und somit für Menschen mit Dyslexie als sinnvolle Schriftarten sind somit:
                        Helvetiva, CMU, Arial, Verdana und Times.
                    </p>
                    <a class="m-4 place-self-start rounded-md text-light more-button"
                        href="http://dyslexiahelp.umich.edu/sites/default/files/good_fonts_for_dyslexia_study.pdf">Mehr
                        <span> &rarr; </span></a>
                </div>

            </div>
        </li>
        <li class="bg-slate-200 flex flex-col list-card mb-5 rounded-lg">
            <h3>Spielerischer Ratgeber</h3>
            <div class="flex flex-row">
                <div class="flex flex-col">
                    <p class=" text-justify pt-2 text-sm detailed">
                        Die Broschüre <b>LRS, Legasthenie & CO</b> ist ein Ratgeber für Eltern, Lehrkräfte und
                        Förderkräfte den Kindern mit Dyslexie im schriftsprachlichen Bereich
                        Unterstützung zu geben. Diese Kinder sollen nicht als krank, gestört oder behindert
                        stigmatisiert werden sondern es soll erleichtert werden ihnen zu Helfen und sie zu Unterstützen.
                    </p>
                    <a class="m-auto ml-4 place-self-start rounded-md text-light more-button"
                        href="https://feo.schule.de/service/umgang-mit-lese-und-rechtschreibschwaeche/LRS-Brosch-Aug2012.pdf">Mehr
                        <span> &rarr; </span></a>
                </div>
                <img class="m-auto ml-5 mr-10 mb-5 w-4/12 rounded-md" src={lrsBrosch}
                    alt="picture of brochure about dyslexia">
            </div>
        </li>
    </ul>
</section>

<style>
    h3,
    h4,
    ul p {
        padding: 1.1rem;
        padding-bottom: 0;
        text-align: justify;
    }

    .link-card-grid {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
        gap: 1rem;
        padding: 0;
    }

    .more-button {
        padding: 8px 24px 8px 24px;
        border-radius: 2rem;
        background-color: theme(colors.dark.DEFAULT);
    }

    .more-button:hover {
        background-color: theme(colors.dark.light);
    }
</style>