<section id="further-reading-section">
    <h2 id="further-reading">Weitere Literatur</h2>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Impedit tempore culpa molestiae excepturi aspernat, quo minus accusantium.</li>
        <li>Adipisci, quis animi fugit dolor deserunt,</li>
        <li>Dolore quaerat fugit consectetur illo harum, nesciunt consequuntur,</li>
    </ul>
</section>