<section id="further-reading-section" class="max-w-[60ch] pb-64">
    <h2 id="further-reading">Weitere Literatur</h2>
    <section> 
        Interesse geweckt? Dann lese hier weiter, um dein Wissen über Dyslexie zu erweitern!
    </section>
    <ul class = "list-decimal list-inside"> 
        <li class = "mb-2"><a
            class="underline"
            href="https://dl.acm.org/doi/pdf/10.1145/2207016.2207047"
            >Web accessibility and people with dyslexia: a survey on techniques and guidelines</a>
        </li>
        <li class = "mb-2">
            <a
            class="underline"
            href="https://link.springer.com/chapter/10.1007/978-3-662-44811-3_23"
            >User Centered Inclusive Design for People with Dyslexia: Experiences from a Project on Accessibility</a>
        </li>
        <li class = "mb-2">
            <a
            class="underline"
            href="https://www.uxbooth.com/articles/designing-for-dyslexia-part-1/"
            >Designing for Dyslexia, Part 1 </a
        >
        </li>
        <li class = "mb-2">
            <a
                class="underline"
                href="https://dl.acm.org/doi/10.1145/2745555.2746655"
                >Dyslexia and web accessibility: synergies and challenges</a
            >
        </li>
        <li class = "mb-2">
            <a
                class="underline"
                href="https://www.bdadyslexia.org.uk/advice/employers/creating-a-dyslexia-friendly-workplace/dyslexia-friendly-style-guide"
                >Creating a dyslexia friendly workplace</a
            >
        </li>
    </ul>
</section>