---
import Guideline from "./Guideline.astro";
import GuideText from "./GuideText.astro";
---

<div >
    <h2 id="guidelines">Guidelines</h2>
    <p class ="mb-6"> Diese Regeln berücksichtigen die Probleme von Menschen mit Legasthenie. 
        Sie vereinfachen das Lesen u. Verstehen von geschriebenen Inhalten für alle Leser*innen.</p>

    <div id = "GuidelinesContent"> 
        <nav >
            <button class="mr-1 px-2  text-xl  focus:bg-slate-700 focus:text-white focus:mb-0">Generelles</button>
            <button class="mr-1 px-2 text-xl focus:bg-slate-700 focus:text-white">Text</button>
            <button class="mr-1  px-2 text-xl focus:bg-slate-700 focus:text-white">Farbe</button>
            <button class="mr-1  px-2 text-xl focus:bg-slate-700 focus:text-white">Anordnung</button>
            <button class="mr-1  px-2 text-xl focus:bg-slate-700 focus:text-white">Überschriften</button>
            <button class="mr-1  px-2 text-xl focus:bg-slate-700 focus:text-white">Schreibstil</button>
            <button class="mr-1  px-2 text-xl focus:bg-slate-700 focus:text-white">Werkzeuge</button>
        </nav>
        
        <div class = "bg-slate-300 h-96 border">
            <GuideText></GuideText>
        </div>
    </div>
    
</div>