---

---
<div class="w-full flex justify-center "> 
    <div class ="border w-4/5 mt-6 flex justify">
        <div class ="w-2/5 border pl-1" >
            <p>Header</p>
            <p>Instrucxtion</p>
        </div>
        <div class="border w-3/5 flex justify">
            <div id="do" class ="border w-1/2 m-2 h-12"> do</div>
            <div id="dont" class=" border w-1/2 m-2"> dont </div>
        </div>
    </div>
</div>
