---
---

<header class="bg-dark text-white">
    <div
        class="mx-auto grid grid-cols-1 lg:grid-cols-[0.8fr_1.2fr] gap-6 lg:gap-12 max-w-screen-2xl p-2 md:p-4 h-screen place-content-center place-items-center">
        <div>
            <h1 class="text-5xl font-semibold mb-4">Dyslexie</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae, velit repellat totam repudiandae
                iste,
                nihil quaerat in animi quidem voluptatem soluta?</p>
        </div>
        <div class="w-full bg-slate-900 pb-[56.25%] relative">
            <span
                class="absolute inset-0 tracking-[0.3em] uppercase font-semibold text-2xl grid place-items-center">Video</span>
        </div>
    </div>
</header>