---
import vidWebmSrc from "../assets/dyslexie.webm";
import vidMp4Src from "../assets/dyslexie.mp4";
---

<header class="bg-dark text-white">
    <div
        class="mx-auto grid grid-cols-1 lg:grid-cols-[0.8fr_1.2fr] gap-8 lg:gap-12 max-w-screen-2xl p-2 md:p-4 min-h-screen place-content-center place-items-center">
        <div class="w-full">
            <h1 class="text-6xl sm:text-7xl font-semibold mb-6">Dyslexie</h1>
            <p class="mb-6">
                ist eine der häufigsten Lernstörungen. Probleme
                können unter anderem beim Lesen, Schreiben und Rechnen auftreten.
                <br /><br />
                Es handelt sich <strong class="underline">nicht</strong> um ein Intelligenzproblem.
                Durch frühe Förderung kann die Beinträchtigung minimiert werden.
            </p>
            <a href="#user-group"
                class="w-full md:w-auto justify-center px-6 py-4 bg-white rounded-md text-dark font-semibold inline-flex leading-none hover:bg-slate-200 hover:text-slate-900">
                Erfahre mehr
            </a>
        </div>
        <video controls class="w-full bg-slate-900 border-slate-900 border-2 rounded block">
            <source src={vidWebmSrc} type="video/webm">
            <source src={vidMp4Src} type="video/mp4">
        </video>
    </div>
</header>