---
import BulletPoint from "./UserGroup/BulletPoint.astro";
import peopleSvg from "../assets/icons/people.svg";
import pillsSvg from "../assets/icons/pills.svg";
import brainSvg from "../assets/icons/brain.svg";
import VideoCard from "./UserGroup/VideoCard.astro";
import readingMaya from "../assets/videoThumbnails/readingMaya.jpg"
import readingJade from "../assets/videoThumbnails/readingJade.jpg"
import readingMerril from "../assets/videoThumbnails/readingMerril.jpg"
import writingAidan from "../assets/videoThumbnails/writingAidan.jpg"
import writingLucy from "../assets/videoThumbnails/writingLucy.jpg"
import writingSam from "../assets/videoThumbnails/writingSam.jpg"
---

<section id="user-group-section" class="max-w-[60ch]">
    <h2 id="user-group" class="mb-12">Die Zielgruppe</h2>
    <div class="grid grid-cols-1 sm:grid-cols-[0.4fr_1.6fr] place-items-center gap-8 mb-8">
        <!-- TODO: Alt-tag -->
        <img src={peopleSvg} alt="" class="w-1/2 sm:w-full">
        <div>
            <h3 class="text-xl font-semibold mb-0.5">4-20&percnt; der Bevölkerung</h3>
            <p>Dyslexie ist in der Bevölkerung weit verbreitet, wobei hohe Dunkelziffern vermutet werden. Die
                Ausprägungen der Dyslexie sind hierbei extrem vielfältig. Es gibt kein einheitliches Symptombild.</p>
        </div>
        <!-- TODO: Alt-tag -->
        <img src={pillsSvg} alt="" class="w-1/2 sm:w-full">
        <div>
            <h3 class="text-xl font-semibold mb-0.5">Nicht &bdquo;heilbar&ldquo;</h3>
            <p>Personen mit Dyslexie wachsen aus den Symptomen nicht heraus. Die Betroffenen erarbeiten jedoch häufig
                kreative Bewältigungs&shy;strategien. Außerdem können durch kleine Anpassungen im alltäglichen Umfeld
                Erleichertungen für die Betroffenen geschaffen werden. </p>
        </div>
        <!-- TODO: Alt-tag -->
        <img src={brainSvg} alt="" class="w-1/2 sm:w-full">
        <div>
            <h3 class="text-xl font-semibold mb-0.5">Voll intelligent</h3>
            <p>Dyslexie wird nicht durch die Intelligenz beeinflusst. Die Symptome treten über alle verschiedenen
                Intelligen&shy;zniveaus auf. Dyslexie allein hindert keine betroffene Person an dem Erreichen
                akademischer
                oder beruflicher Ziele. </p>
        </div>
    </div>
    <div class="flex flex-col gap-2 mb-8">
        <details class="bg-dark/10 p-2 rounded-md">
            <summary class="p-4 rounded-sm bg-dark text-white font-semibold list-none chevron">
                <h3 class="mb-0">💪 Stärken</h3>
            </summary>
            <div class="flex flex-col gap-4 pt-2 pb-1">
                <BulletPoint mark={1} title="Kreativität">
                    Personen mit Dyslexie sind häufig kreativ, da sie durch die Einschränkungen in ihrem Alltag ‘outside
                    of the box’ denken.
                </BulletPoint>
                <BulletPoint mark={2} title="Lernen">
                    Betroffene müssen viel mehr Anstrengung in den Lese- und
                    Schreiblern&shy;prozess investieren. Dadurch
                    entwickeln sie ein besseres Durchhalte&shy;vermögen und kreative Strategien.
                </BulletPoint>
                <BulletPoint mark={3} title="Problemlösen">
                    Durch die von Sprache geprägte Welt müssen Personen mit
                    Dyslexie sehr früh Bewältigungs&shy;mechanismen
                    entwickeln. Hierdurch wird der Problem&shy;löse&shy;prozess trainiert.
                </BulletPoint>
            </div>
        </details>
        <details class="bg-dark/10 p-2 rounded-md">
            <summary class="p-4 rounded-sm bg-dark text-white font-semibold list-none chevron">
                <h3 class="mb-0">⛔ Exklusionfaktoren</h3>
            </summary>
            <div class="flex flex-col gap-4 pt-2 pb-1">
                <BulletPoint mark={1} title="Allgemein">
                    Grundsätzlich haben Personen mit Dyslexie Probleme damit, die Bedeutung geschriebener Zeichen zu
                    erfassen. Es fällt Betroffenen schwer, den Sinn von Wörtern und Sätzen zu erkennen.
                </BulletPoint>
                <BulletPoint mark={2} title="Lesen">
                    Beim Lesen sind die häufigsten Probleme eine niedrige Lese&shy;geschwindigkeit und das Verlieren der
                    Zeile im
                    Text. Hinzu kommt, dass Wörter häufig vertauscht, ausgesetzt oder hinzugefügt werden.
                </BulletPoint>
                <BulletPoint mark={3} title="Schreiben">
                    Beim Schreiben prägt sich Dyslexie durch eine hohe Fehleranzahl in Rechtschreibung und Grammatik
                    aus.
                    Insbesondere Buchstaben&shy;verdrehungen, Reihenfolgen&shy;fehler und Auslassungen spielen eine
                    Rolle. Zudem
                    haben
                    Betroffene häufig unleserliche Handschriften.
                </BulletPoint>
            </div>
        </details>
    </div>
    <h3>Dyslexie verstehen</h3>
    <p class="mb-2"> Dyslexie besitzt keine einheiltichen Symptome. Und kann sich auf vielfältige Art und Weise bei Betroffenen äußern.</p>
    <p class="mb-6"> Lerne in den folgenden Videos sechs Menschen und ihren Umgang mit Dyslexie kennen.</p>
    <ul class="mb-4 grid grid-cols-1 xs:grid-cols-2 gap-4">
        <!-- TODO: Alt-tags -->
        <VideoCard image={{src: readingMaya, alt: "ein Mädchen lächelt. Neben ihr Text: Reading challenges: Maya, 2nd grade" ,link:"https://www.youtube.com/watch?v=DRWfi7mlo0M"}} ></VideoCard>
        <VideoCard image={{src: writingAidan, alt: "ein kleiner junge schaut in die Kamera. Neben ihm Text: Writing challenges: Aidan, 1st grade" ,link: "https://www.youtube.com/watch?v=PD-BhCE9cxA" }} ></VideoCard>
        <VideoCard image={{src: readingMerril, alt: "ein Mädchen schmunzelt. Neben ihr Text: Reading Challenges: Merril, 5th grade" ,link:"https://www.youtube.com/watch?v=x0qKvmYQnjw" }} ></VideoCard>
        <VideoCard image={{src: writingLucy, alt: "ein Mädchen schaut in die Kamera. Neben ihr Text: Writing Challenges: Lucy, 5th grade", link: "https://www.youtube.com/watch?v=C9MExB2sadM" }} ></VideoCard>
        <VideoCard image={{src: readingJade, alt: "ein Mädchen lacht. Neben ihr Text: Reading Challenges: Jade, 8th Grade", link: "https://www.youtube.com/watch?v=dXg2oY6fC8w" }} ></VideoCard>
        <VideoCard image={{src: writingSam, alt: "ein Junge. Neben ihm Text: Writing Challenges: Sam, 12 grade", link: "https://www.youtube.com/watch?v=_B3F1c3gnIw"}} ></VideoCard>
    </ul>
    <p class = "mb-6"> <a class ="underline "href= "https://www.understood.org/en/articles/through-your-childs-eyes?_sp=92a76110-2ecb-4c2f-a187-2c36cc6cd61f.1656770006455#Reading_challenges:_Videos_of_kids%C2%A0">
    Weitere Videos findest du hier </a></p>
</section>

<style>
    .chevron {
        @apply relative;
    }

    .chevron::after {
        content: url(../assets/icons/chevron.svg);
        @apply absolute right-4 inset-y-4 invert scale-125 transition-transform;
    }

    details[open] .chevron::after {
        @apply rotate-180;
    }
</style>