---
export interface Props {
    image: { src: string; alt: string; link: string }
}

const { image } = Astro.props as Props;

---

<li class="p-4 rounded-lg bg-dark/10 text-center">
    <a href={image.link}><img src={image.src} alt={image.alt} class="w-full rounded-md bg-slate-50 p-2"></a>
</li>